.sectionWrapper {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h3 {
  color: var(--color-white);
  font-family: var(--font-poppins);
}

.toggleText {
  color: var(--color-primary);
  cursor: pointer;
  font-family: var(--font-poppins);
}

.cardsWrapper {
  min-height: 232px;
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}
