.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 159px;
  height: 232px;
}

.card {
  width: 159px;
  height: 205px;
  background-color: var(--color-white);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  display: block;
}

.banner {
  height: 35px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 0px 8px; /* Design left: 8px */
}

.chip {
  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
  font-family: var(--font-poppins) !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  height: 23px !important;
  width: 71px !important;
  border-radius: 10px !important;
}

.pill {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 10px;
}

.titleWrapper {
  color: var(--color-white);
  font-family: var(--font-poppins);
  font-size: 14px;
  line-height: 21px;
}

.titleWrapper p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
