.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  background-color: #34C94B;
  height: 74px;
  gap: 32px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .navbar {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    gap: 16px;
    padding: 16px;
  }
}
